name: Check and test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  check:
    name: Run checks
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6
      - name: Use Node.js 20.x
        uses: actions/setup-node@v5
        with:
          node-version: 22.21.1
          cache: "yarn"
      - name: Install dependencies
        run: yarn install --immutable
      - name: Run checks
        run: yarn run check
  get-version:
    name: Get latest nobl9-language-server version
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.get_version.outputs.version }}
    steps:
      - name: Get latest version
        id: get_version
        shell: bash
        run: |
          VERSION=$(curl -fsSL https://api.github.com/repos/nobl9/nobl9-language-server/releases/latest | jq -r .tag_name | sed 's/^v//')
          echo "version=$VERSION" >> "$GITHUB_OUTPUT"
  test:
    needs: [check, get-version]
    uses: ./.github/workflows/test.yml
    with:
      languageServerVersion: ${{ needs.get-version.outputs.version }}
